@page
@model TCS.Pages.AdminPanelModel
@using TCS;
@using TCS.Database
@using Microsoft.EntityFrameworkCore
@{
    string username;
    var auth_token = Guid.Parse(Request.Cookies["auth_token"]);
    username = await Model.db.Users.Where(x => Model.db.Sessions.Any(y => y.AuthToken == auth_token && x.Id == y.Id)).Select(x => x.Username).FirstAsync();
}
<html>
<head>
    <title>RBTChat</title>
    <link rel="stylesheet" href="~/AdminPanel/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
        <div id="editor-container">
            <div id="editor">
                <div id="editor-title">
                    Редактор
                </div>
                <div class="editor-underline"></div>
                <textarea id="editor-textarea"></textarea>
                <div class="editor-underline"></div>
                <div id="editor-buttons">
                    <button id="save-editor-btn">Сохранить</button>
                    <button id="cancel-editor-btn">Отмена</button>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
        <div id="main_grid">
            <span id="title">RBTChat</span>
            <div class="user-panel">
                <a class="admin-button" href="/App">Панель воркера</a>
                <div id="username">
                    <span>@username</span>
                </div>
                <button id="exit-button">ВЫЙТИ</button>
            </div>
            <div class="button-container">
                <button class="button" disabled>Воркеры</button>
                <div class="background_underline underline">
                </div>
                <div class="underline"></div>
            </div>
            <div class="grid-container">
                <div>
                    <div class="filter-row">
                        Фильтр слов
                        <div class="menu-item">
                            <button class="toggleButton">
                                <img src="~/AdminPanel/menu.svg" alt="menu" />
                            </button>
                            <div class="dropdown-content">
                                <button id="upload-filter">Загрузить</button>
                                <button id="download-filter">Выгрузить</button>
                                <button id="edit-filter">Редактор</button>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="Поиск...">
                    </div>
                    <div id="list-container">
                        <div class="list" id="users"></div>
                    </div>
                </div>
                <div id="info-grid" style="display: none">
                    <div id="info-panel">
                        <div class="info-row">
                            Почта: <span contenteditable="false" class="editable" id="email"></span>
                            <button>
                                <img src="~/App/edit.svg" alt="Редактировать" />
                            </button>
                        </div>
                        <div class="info-row">
                            Логин: <span contenteditable="false" class="editable" id="user-username"></span>
                            <button>
                                <img src="~/App/edit.svg" alt="Редактировать" />
                            </button>
                        </div>
                        <div class="info-row">
                            Пароль: <span contenteditable="false" class="editable" id="password"></span>
                            <button>
                                <img src="~/App/edit.svg" alt="Редактировать" />
                            </button>
                        </div>
                        <div class="info-row">
                            Токены: <span id="tokens-count"></span>
                            <div class="menu-item">
                                <button class="toggleButton">
                                    <img src="~/AdminPanel/menu.svg" alt="menu" />
                                </button>
                                <div class="dropdown-content">
                                    <button id="upload-tokens">Загрузить</button>
                                    <button id="download-tokens">Выгрузить</button>
                                    <button id="edit-tokens">Редактор</button>
                                </div>
                            </div>
                        </div>
                        <div class="right-div-column info-row" id="acc-actions">
                            Действия с аккаунтом
                            <div class="menu-item">
                                <button class="toggleButton">
                                    <img src="~/AdminPanel/menu1.svg" alt="menu" />
                                </button>
                                <div class="dropdown-content">
                                    <div id="pause-btn">
                                        Пауза
                                        <input type="checkbox" class="checkbox">
                                        <label></label>
                                    </div>
                                    <div id="follow-permission-btn">
                                        Доступ к follow
                                        <input type="checkbox" class="checkbox">
                                        <label></label>
                                    </div>
                                    <div id="spam-permission-btn">
                                        Доступ к спаму
                                        <input type="checkbox" class="checkbox">
                                        <label></label>
                                    </div>
                                    <div id="tokens-edit-permission-btn">
                                        Доступ к токенам
                                        <input type="checkbox" class="checkbox">
                                        <label></label>
                                    </div>
                                    <div id="admin-btn">
                                        Админка
                                        <input type="checkbox" class="checkbox">
                                        <label></label>
                                    </div>
                                    <button id="delete-user-btn">Удалить аккаунт</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container logs_title">
                        <button class="button" id="chat-logs">Логи чата</button>
                        <button class="button" id="actions-logs">Логи действий</button>
                        <div class="background_underline underline"></div>
                        <div class="underline" id="underline"></div>
                    </div>
                    <div class="custom-select" id="logs-select">
                        <div class="selected-option">
                            <span></span>
                            <div>
                                <img class="triangle-close" src="~/AdminPanel/triangle.svg" alt="" />
                            </div>
                        </div>
                        <ul class="options" id="logs-time-list"></ul>
                    </div>
                    <div id="logs">
                        <div id="logs-title">
                            <span>Время</span>
                            <span>Действие</span>
                        </div>
                        <div class="logs_underline"></div>
                        <div>
                            <div class="list list-logs"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <input type="file" id="fileInput" accept=".txt" style="display: none;">
    <div class="notification-container" id="notification-container"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/AdminPanel/script.js"></script>
</body>
</html>
