@page
@using TCS;
@model TCS.Pages.AuthorizationModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/Authorization/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Configuration.PageTitle</title>
</head>
<body>
    <div id="form">
        <div class="button-container" style="margin-bottom: 15px;">
            <div class="button" id="login-header">ВХОД</div>
            <div class="button" id="register-header">РЕГИСТРАЦИЯ</div>
            <div id="background_underline" class="underline">
                <div></div>
            </div>
            <div class="underline" id="underline"></div>
        </div>
        <div id="main-form"></div>
    </div>
    <div class="notification-container" id="notification-container"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/Authorization/script.js"></script>
</body>
</html>