@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/Manual/style.css" />
<div id="m_main-grid">
    <div id="bot-list-container">

    </div>
    <div id="input-message-container">

    </div>
</div>
<script src="~/Manual/script.js"></script>
