@using Microsoft.EntityFrameworkCore
@using TCS;
@using TCS.Database
@model TCS.Controllers.AppController

@{
    var auth_token = Guid.Parse(Context.Request.Headers.Authorization);
    var binds = (await Model.db.Configurations.Where(x => Model.db.Sessions.Any(y => y.AuthToken == auth_token && y.Id == x.Id)).Select(x => x.Binds).FirstAsync()).Keys;
}
<link rel="stylesheet" href="~/Manual/style.css" />
<div class="m_container">
    <div class="b_binds-container">
        <div class="b_binds">
            @foreach (var item in binds)
            {
                <button class="b_item">@item</button>
            }
        </div>
    </div>

    <div class="m_full-width-input-wrapper">
        <textarea class="m_full-width-input" rows="1"></textarea>
    </div>
    <div class="m_btns_container">
        <button class="back-button">
            <img src="~/Manual/back_message.svg" alt="Предыдущее сообщение" />
        </button>
        <button class="send-button">Отправить</button>
    </div>
</div>



<script src="~/Manual/script.js"></script>
