@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Spam</p>
<iframe src="https://www.twitch.tv/embed/marveiz/chat?darkpopout&parent=localhost"
        height="500"
        width="500">
</iframe>
