.dropdown_content{
    max-height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(63, 66, 70, 1) rgba(24, 24, 27, 1);
}

@media (max-width: 768px) {
    .dropdown_content{
        max-height: 150px;
    }
}