#content {
    margin: 30px 20px 0 20px;
}
.s_container {
    display:grid;
    grid-template-rows: 1fr auto auto auto;
    height:100%;
}

.s_textarea {
    outline: none;
    background: rgb(63,66,70);
    color: white;
    height: 100%;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: rgb(174, 160, 248) rgb(46, 47, 51); /* Для Firefox */
}
    .s_textarea::-webkit-scrollbar {
        width: 6px;
    }

    .s_textarea::-webkit-scrollbar-thumb {
        background-color: rgb(118, 104, 203);
        border-radius: 2px;
    }

    .s_textarea::-webkit-scrollbar-track {
        background-color: transparent;
    }


.s_number-input {
    width: 200px;
    height: 42px;
    border-radius: 4px;
    outline: none;
    background-color: rgb(63,66,70);
    border: none;
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 15px;
}

    .s_number-input::-webkit-inner-spin-button,
    .s_number-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .s_number-input[type="number"] {
        -moz-appearance: textfield;
    }

#s_count-bots {
    color:white;
    margin-right:20px;
}

#s_delay {
    color: white;
    margin-top: 20px;
}
input[type="number"]{
    margin-top:6px;
}

.send-button {
    height: 36px;
    width: 123px;
    background-color: rgb(118,104,203);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Inter-Regular;
    margin-top: 30px;
    margin-right:12px;
}

.s_custom-select {
    width: 200px;
    margin-top:6px;
}

.s_selected-option {
    border: none;
    background-color: rgb(63, 66, 70);
    height: 42px;
}

    .s_selected-option > span {
        color: rgb(192,192,194);
        justify-self: left;
        padding: 0 10px;
        overflow: hidden;
        width: -webkit-fill-available;
        width: -moz-available;
        text-overflow: ellipsis;
    }

.s_options {
    color: rgb(192,192,194);
    background-color: rgb(45, 45, 50);
    border: none;
    top:42px;
}

.s_options_area > div > span {
    color: rgb(192,192,194);
    font-size: 18px;
}

.s_options_content {
    grid-row: span 2;
    margin-top: 28.74px;
    margin-left: 20px;
}

    .s_options_content .s_custom-select {
        margin: 0;
    }

    .s_options_content > div {
        background-color: rgb(45,45,50);
        padding: 20px;
        display: flex;
        justify-content: center;
        border-radius: 4px;
    }

        .s_options_content > div > div {
            display: flex;
            flex-direction: column;
            width: fit-content;
        }

            .s_options_content > div > div > span {
                color: rgb(192,192,194);
                font-size: 18px;
                margin-bottom: 8px;
            }

    .s_options_content input {
        width: 200px;
        height: 42px;
        font-size: 18px;
        background-color: rgb(63, 66, 70);
        border-radius: 4px;
        border: none;
        padding: 0 10px;
        color: rgb(192,192,194);
        outline: none;
    }

    .s_options_content button {
        height: 42px;
        background-color: transparent;
        border: 2px solid rgb(176,162,252);
        color: rgb(176,162,252);
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
    }

    .s_options_content .s_options {
        height: 16vh;
    }

.inline-div{
    display:flex;
    margin-top:40px;
}

.inline-div > div:nth-child(2){
    color: white;
}

@media (max-width: 768px) {
    .s_container div{
        justify-self:center;
    }

    .s_container > div:nth-child(4){
        margin-bottom:20px;
    }

    .s_textarea{
        height:50vh;
    }

    .inline-div{
        flex-direction:column-reverse;
    }

    #s_count-bots{
        margin-right:0;
        margin-top:20px;
    }
}